<%= render "components/dashboard_window" do %>
  <div class="mx-auto">

    <%= render @team %>

    <%= render partial: "components/gray_button", locals: { message: "Edit this team", path: edit_team_path(@team) } %>
    <div class="inline-block ml-2">
      <%= render partial: "components/gray_destroy_button", locals: { message: "Delete this team", path: team_path(@team) } %>
    </div>
    <%= render partial: "components/gray_button", locals: { message: "Back to teams", path: teams_path } %>
    <%= render partial: "components/gray_button", locals: { message: "Go to Months", path: team_months_path(@team) } %>
  </div>
<% end %>