<div id="<%= dom_id month %>">
  <div class="border rounded-lg p-5">
    <%= render partial: "components/standard_subheading", locals: { message: month.month.strftime('%B %Y') } %>
    <div class="flex gap-4">
      <div class="p-5 bg-blue-100 rounded-lg w-1/2 flex flex-col justify-center items-center">
        <h3 class="text-2xl font-bold mb-5">Planned</h3>
        <div class="text-2xl"><%= "$#{month.monthly_planned}" %></div>
      </div>
      <div class="p-5 bg-green-100 rounded-lg w-1/2 flex flex-col justify-center items-center">
        <h3 class="text-2xl font-bold mb-5">Remaining</h3>
        <div class="text-2xl"><%= "$100.00" %></div>
      </div>
    </div>
  </div>

  <div class="flex gap-4">
    <div class="flex-1"><%= render @categories %></div>
    <div class="w-1/4 my-5 p-4 border-blue-100 border-2 border-dashed rounded-lg">
      <div>
        <% @transactions.each do |transaction| %>
          <div>
            <%= link_to transaction.name, transaction %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if action_name != "show" %>
    <%= render partial: "components/gray_button", locals: { message: 'Show this month', path: month} %>
    <%= render partial: "components/gray_button", locals: { message: 'Edit this month', path: edit_month_path(month) } %>
    <hr class="mt-6">
  <% end %>
</div>
