<%= render "components/dashboard_window" do %>
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @month %>

    <%= render partial: "components/gray_button", locals: { message: 'Edit this month', path: edit_month_path(@month) } %>
    <div class="inline-block ml-2">
      <%= render partial: "components/gray_destroy_button", locals: { message: 'Destroy this month', path: month_path(@month) } %>
    </div>
    <%= render partial: "components/gray_button", locals: { message: 'Back to months', path: team_months_path(@month.team) } %>
    <%= render partial: "components/gray_button", locals: { message: 'Add new category', path: new_month_category_path(@month)} %>
  </div>
<% end %>
