<div id="<%= dom_id item %>" class="flex w-full p-6 rounded-lg bg-blue-50 font-bold space-x-2 my-2">
  <div class="flex-1"><%= link_to item.name, edit_item_path(item) %></div>
  <div class="text-blue-500"><%= item.planned %></div>
  <div class="<%= item.remaining_cents >= 0 ? 'text-green-500' : 'text-red-600'%>"><%= item.remaining %></div>
</div>
