<!DOCTYPE html>
<html>
  <head>
    <title>BudgetRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
      <% unless notice.nil? %>
        <div class="bg-blue-300 rounded-lg w-full p-6">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% unless alert.nil? %>
        <div class="bg-blue-300 rounded-lg w-full p-6">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
